* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* text-align: center;  */
  height: 100vh;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Main Container */

/* #bg-container {
  display: none;
} */

.change-bg {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #292929a9 48%, transparent 48%);
  visibility: hidden;
  transition: 0.3s ease-out;
  height: 0px;
  margin-bottom: 20px;
  
}

.dropdown-bg {
  height: 100px;
  visibility: visible;
}

/* .shift-hide {
  visibility: hidden;
} */

.dropbtn {
  display: flex;
  flex-basis: 100%;
  place-content: center;
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  transition: 0.5s;
}

.dropbtn-rotate {
  transition: 0.5s;
  transform:rotate(180deg);
}


.shift-bg1 {
  transition: 0.3s;
  padding: 0;
  background: none;
  border: none;
}

.shift-bg2 {
  transition: 0.3s;
  transform: rotate(29deg);
  padding: 0;
  background: none;
  border: none;
}

.shift-bg3 {
  transition: 0.3s;
  fill: currentColor;
  transform: rotate(180deg);
  padding: 0;
  background: none;
  border: none;
  
}

.shift-hide {
  transition: 0.5s;
  transform: scale(0.01);

}

.shift-bg1:hover, .shift-bg2:hover {
  color: #757575;
  transition: 0.3s;
  transform: scale(1.2);
}

.shift-bg3:hover {
  color: #757575;
  transition: 0.3s;
  transform: rotate(180deg) scale(1.2);
  
}

/* 
Time and Weather
 */

.container {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  text-align: center;
  /* height: 100vh; */
  height: 30vh;
  margin-top: 10vh;
}



/* Removes <br> */

#user-name br{
  display: none;
}

/* Time and welcoming message */

.card-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #000000c0;
  padding: 1em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 500px;
  max-width: 900px;
  color: white;
  text-align: center;
  transition: 0.5s;
  height: 200px;
}

.card-time:hover {
  background: #252525c5;
  transition: 0.5s;
}

.card-time-ani {
  height: 320px;
}
/* Rounded edges standalone */

/* .card-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #000000c0;
  padding: 2em;
  border-radius: 30px;
  width: 900px;
  max-width: 900px;
  margin: 3em;
  color: white;
  text-align: center;
  /* transition: all 0.5s ease-in-out; */
  /* height: 280px;
} */

#clock {
  display: flex;
  flex-direction: row;
  font-family: inherit;
}

#time {
  font-size: 4rem;
  width: 300px;
  margin-left: 1rem;
  text-align: left;
  font-family: inherit;
 }

 #ampm {
   margin-left: -80px;
   margin-top: 10px;
   font-size: 2rem;

 }

h1.greeting-user {
  /* margin-bottom: 3rem; */
  font-size: 1.5em;
  margin-left: 1rem;
}

h2.city {
  margin-bottom: 20px;
  /* opacity: 0.6; */
}


/* Weather App */
/* Card */
.card {
  background: #000000c0;
  padding: 2em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  max-width: 400px;
  color: white;
  text-align: left;
  /* transition: all 0.5s ease-in-out; */
  height: 200px;
}

.card:hover {
  background: #252525c5;
  transition: 0.5s;
}

.card-ani {
  background: #000000c0;
  padding: 2em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  max-width: 400px;
  /* margin: 1em; */
  color: white;
  text-align: left;
  height: 320px;  
  transition: all 0.5s ease-in-out;
}

.card-ani:hover {
  background: #252525c5;
  transition: 0.5s;
}
/* Standalone script */
/*.card-ani {
  background: #000000c0;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  color: white;
  text-align: left;
  height: 320px;  
  transition: all 0.5s ease-in-out;
  
} */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbtn {
  margin: 0.5em;
  border-radius: 50%;
  background: #7c7c7c5b;
  border: none;
  height: 43px;
  width: 43px;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.searchbtn:hover {
  background: #7c7c7c9b;
}
.search-box {
  border: none;
  outline: none;
  padding: 0.7em 1em;
  border-radius: 24px;
  background: #7c7c7c5b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  text-indent: 10%;
  width: calc(100% - 50px);
}

.search-icon {
  height: 17px;
  width: 17px;
  color: lightgray;
  pointer-events: none;
}

.description {
  text-transform: capitalize;
  margin-left: 10px;
}

.flex-desc {
  display: flex;
  align-items: center;
}


h1.temp {
  margin: 0;
  margin-bottom: 10px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading::after {
  visibility: visible;
  /* content: "Enter Your City..."; */
  color: white;
  position: absolute;
  top: 0;
  margin-top: 10px;
  left: 20px;
  
}



/*

Container for Search elements


*/

.websearch-container {
  /* height: 50vh; */
  height: 200px;
  display: flex;
  flex-direction: column;
  width: inherit;
  /* margin-bottom: 100px; */
}

/*

Container for search bar, logo and search button.

*/

.web-search {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

/* Search Bar */

.duckduckgo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.duckduckgo svg {
  background: #ffffff9f;
  border-radius: 50%;
  margin: 12px;
  padding: 0px;
  color: #0000009b;
  display: flex;
  
}

.duckduckgo {
  flex-basis: 100%;
  width: 0;
}

.online-search {
  width: 775px;
  height: 50px;
  font-size: 1.5em;
  text-indent: 5%;
  border: none;
  border-radius: 24px;
  background: #0000009b;
  color: white;
  outline: none;
}

.online-search::placeholder {
  color: white;
  opacity: 0.5;
}

.websr-btn {
  position: relative;
  margin-left: 0.5em;
  padding: 14px;
  border-radius: 50%;
  background: #0000009b;
  border: none;
  height: 50px;
  width: 50px;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.websr-btn:hover {
  background: #292929;
}

/* Container for Shortcut Icons */

.shortcut-container {
  display: flex;
  position: absolute;
  bottom: 0px;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0;
  padding: 10px;
  background:#0000009f;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  
}

.shortcut-container > * {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: #4d4d4d5b;
  padding: 10px;
  border: none;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  
}

.shortcut-container > *:hover {
  
  background: #0000005b;
  transition: all 0.2s ease-in-out;
  transform: scale(1.5);
  
}



@media(max-width: 1220px) {

  .shortcut-container {
    height: 200px;
    transition: 0.2s ease-in-out;
    display: grid;
    grid-template-rows: 50% 75px auto;
    grid-template-columns: auto auto auto auto auto auto;
  }


  
@media(max-width: 1000px) {
  
  .container {
    flex-direction: column;

  }
   
  h1.greeting-user {
    font-size: 20px;
    transition: all 0.5s ease-in-out;
  }

  .card-time {  
    max-width: 400px;
    max-height: 200px;
    transition: all 0.5s ease-in-out;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
   
  
  }
  
  #time {
    font-size: 4em;
  }

  .card, .card-ani {
    margin-bottom: 70px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
  }

  .shortcut-container {
    display: flex;
  }

  .shortcut-container > * svg {
    height: 2em;
    width: 2em;
  }

  .websearch-container {
    width: 400px;
    margin-top: 70px;
    position: relative;
    overflow: none;
  }

  .duckduckgo > * {
    height: 4em;
    width: 4em;
  }

  .online-search {
    width: 350px;
    height: 40px;
    font-size: 1em;
  }

  .websr-btn {
    margin-left: 0.5em;
    padding: 5px;
    height: 40px;
    width: 40px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }


}

@media(max-width: 600px) {
  
  .container {
    height: 400px;

  }

  body {
    height: 100vh;
    width: 100vw;
    
  }
  .card-time {  
    width: 400px;
    height: 110px;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
  }
  

  #time {
    margin-top: 10px;
    font-size: 2.5em;
    margin-bottom: 5px;
    
  }

  #ampm {
    
    margin-left: -172px;
    margin-top: 17px;
    font-size: 1rem;
 
  }

  h1.greeting-user {
    font-size: 18px;
    transition: all 0.5s ease-in-out;
  }

  .card, .card-ani {
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
  }


  .websearch-container {
    width: 350px;
    margin-top: 5px;
    height: 100px;
  }

  .duckduckgo > * {
    height: 3em;
    width: 3em;
  }

  .online-search {
    width: 300px;
    height: 40px;
    font-size: 1em;
  }

  .websr-btn {
    margin-left: 0.5em;
    padding: 5px;
    height: 40px;
    width: 40px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .shortcut-container {
    top-margin: 0px;
    /* transform: translateY(240px); */
    height: 5px;
    transition: all 0.5s ease-in-out;
    overflow: none;
  }

  .shortcut-container svg {
    height: 1.2em;
    width: 1.2em;
  }
  /* .shortcut-container:hover {
    transform: translateY(30px);
    overflow: none;
    height: 200px;
    
  } */

  .popup__menu:hover {
    width: 100vw;
    position: fixed;
    height: 200px;
  }
